<% content_for :page_title do %>
  <h1 class="font-41 black"><%= t("robokassa.pay") %></h1>
<% end %>

<div class="row" data-hook="checkout_header">
  <h1 class="columns four alpha" data-hook="checkout_title"><%= "#{t('order')} #{@order.number}" %></h1>
  <div class="columns twelve omega" data-hook="checkout_progress"><%= checkout_progress %></div>
</div>

<%= render :partial => 'spree/shared/order_details', :locals => {:order => @order} %>
<div class="clear"></div>
<div class="font-41">&nbsp;</div>

<% payment_service_for @order.id, @payment_method.preferred_mrch_login,
                       :amount => @order.total,
                       :service => :robokassa,
                       :secret => @payment_method.preferred_password1,
                       :html => { :id => 'payment-form' } do |service| %>
  <!--<div data-hook="inside_cart_form">-->
    <div class="form-buttons links" data-hook="buttons">
      <%= submit_tag t(:pay), :class => 'continue button primary' %>
      <script>Spree.disableSaveOnClick();</script>
    </div>
  <!--</div>-->
<% end %>